@page "/"
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext context

<PageTitle>Home</PageTitle>



@foreach(var post in _posts)
{
    <h2>@post.Name</h2>
    <p>@post.BodyHtml</p>
    <hr />
}

@code {
    private Post[] _posts = Array.Empty<Post>();

    protected override async Task OnInitializedAsync()
    {
        _posts = await context.Posts.ToArrayAsync();

        await base.OnInitializedAsync();
    }
}
